:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-container {
  width: 400px;

  .card-header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-content {
    .form-container {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .form-field {
        width: 100%;
      }

      .to-right-container {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
