<mat-card class="card-container">
  <mat-card-header class="card-header">
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>

  <mat-card-content class="card-content">
    <form class="form-container">

      <!-- E-Mail Input field -->
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>E-Mail</mat-label>
        <input type="email" matInput
               placeholder="example@gmail.com"
        />
      </mat-form-field>

      <!-- Password Input field -->
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" matInput
               placeholder="password"
        />
      </mat-form-field>

      <!-- Submit Button -->
      <div class="to-right-container">
        <button mat-flat-button>Send</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
